* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0 1rem;
  height: 80px; 
}

nav .logo {
  width: 60px;
  height: 60px;
}

nav .logo img {
  width: auto;
  height: 100%;
}

nav .text {
  display: flex;
  margin-left: 1%;
  overflow: auto;
  animation: spin 5s infinite linear;
}
.text ::-webkit-scrollbar {
  display: none;
}
nav .text h1 {
  flex: 0 0 5em;
}

.main {
  display: flex;
  width: 100%;
  height: calc(100vh - 81px);
  background: whitesmoke;
  justify-content: center;
  align-items: center;
}
.btnclicker {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 20%;
  width: 20%;
}
.num {
  display: flex;
  justify-content: center;
}
input[type="button"] {
  padding: 10px;
  background-color: lightblue;
  border: 1px solid #888;
  border-radius: 3px;
  cursor: pointer;
}
@keyframes spin {
  from {translate: 0}
  to {translate: -100%;}
}